<div class="chatBlock">
    <h3>Can I help you?</h3>
    <div class="Chat">
        <div class="profile">
            <input type="text" placeholder="Enter your Name" ng-model="Name" class="nameField">
            <button ng-click="EnterProfile()" class="EnterNameText">Ok</button>
        </div>

        <div class="mainChat" id="myDivChat">
            <ul>
                <li ng-repeat="x in textiki track by $index">{{x.date | date: " dd/MM/yyyy/ HH:mm "}}&nbsp;&nbsp;&nbsp;{{x.nameField}}:&nbsp;&nbsp;&nbsp;{{x.textField}}<br>
                </li>
            </ul>

            <p> &nbsp;&nbsp;&nbsp;{{nameField}}&nbsp;&nbsp;&nbsp;{{textField}} </p>
        </div>

    </div>

    <div class="textChat ">
        <input type="text " placeholder="Enter text here " ng-model="textField " class="inputText " required autofocus>
        <button ng-click="EnterText() " class="sendButton ">Send</button>
    </div>
    <br>
    <input type="button" id="close" name="close" value="Close">
</div>
