<div class="pages goods" ng-show="goods">
    <div class="title">
        <h1>Welcome in our store</h1>
    </div>
    <div>
        <table class="store" ng-model="store" id="idStore" cellspacing="25">
            <tr>
                <td class="piece">
                    <div class="nameGood">Name</div>
                    <div class="picGood">Picture</div>
                    <div class="priceGood">
                        <div>Price</div>
                        <div class="moreGood">About</div>
                    </div>
                </td>
                <td class="piece">
                    <div class="nameGood">Name</div>
                    <div class="picGood">Picture</div>
                    <div class="priceGood">
                        <div>Price</div>
                        <div class="moreGood">About</div>
                    </div>
                </td>
                <td class="piece">
                    <div class="nameGood">Name</div>
                    <div class="picGood">Picture</div>
                    <div class="priceGood">
                        <div>Price</div>
                        <div class="moreGood">About</div>
                    </div>
                </td>
            </tr>
             <tr>
                <td class="piece">
                    <div class="nameGood">Name</div>
                    <div class="picGood">Picture</div>
                    <div class="priceGood">
                        <div>Price</div>
                        <div class="moreGood">About</div>
                    </div>
                </td>
                <td class="piece">
                    <div class="nameGood">Name</div>
                    <div class="picGood">Picture</div>
                    <div class="priceGood">
                        <div>Price</div>
                        <div class="moreGood">About</div>
                    </div>
                </td>
                <td class="piece">
                    <div class="nameGood">Name</div>
                    <div class="picGood">Picture</div>
                    <div class="priceGood">
                        <div>Price</div>
                        <div class="moreGood">About</div>
                    </div>
                </td>
            </tr>

        </table>
    </div>
</div>
