<div class="pages goods" ng-show="goods">
    <div class="title">
        <h1>Welcome in our store</h1>
    </div>
    <div>
        <good-info></good-info>
        <table class="store" ng-hide="store" id="idStore" cellspacing="25">
            <tr>
                <td class="piece">
                    <div class="nameGood">{{name}}</div>
                    <div class="picGood"><img src="/img/goods/xiaomi1.jpg" height="100%" width="100%"></div>
                    <div class="priceGood">
                        <div>{{price}}</div>
                        <div class="moreGood">About...</div>
                    </div>
                </td>
                <td class="piece">
                    <div class="nameGood">Name</div>
                    <div class="picGood">Picture</div>
                    <div class="priceGood" id="sel" mg-model="sel">
                        <div>Price</div>
                        <div class="moreGood">About...</div>
                    </div>
                </td>
                <td class="piece">
                    <div class="nameGood">Name</div>
                    <div class="picGood">Picture</div>
                    <div class="priceGood">
                        <div>Price</div>
                        <div class="moreGood">About...</div>
                    </div>
                </td>
            </tr>

        </table>
    </div>
</div>
