<div class="pages own" ng-show="pp">

    <h1>Enter</h1>
    <br>
    <table id="tableAutr">
        <tr>
            <td>Login</td>
            <td><input type="email" class="area" ng-model="login" required autofocus></td>
        </tr>
        <tr>

            <td>Password</td>
            <td><input type="password" class="area" ng-model="password" required></td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" value="Forget" class="autr">
                <input type="button" value="Submit" ng-click="check()" ng-disabled="myForm.$invalid" class="autr"></td>
        </tr>
    </table>
    {{user}}
</div>


