    <div class="main" ng-show="slider">
      <div class="page_container">
        <div id="immersive_slider">
          <div class="slide" data-blurred="img/slide1_blurred.jpg">
            <div class="content">
              <h2><a href="#idmc1" target="_top">First</a></h2>
              <p>Штучний інтелект — дуже молода галузь досліджень, започаткована 1956 року. Її історичний шлях нагадує синусоїду, кожен «зліт» якої ініціювався деякою новою ідеєю. На сьогодні її розвиток перебуває на «спаді», і поступається застосуванню вже досягнутих результатів в інших областях науки, промисловості, бізнесі та навіть повсякденному житті.</p>
            </div>
            <div class="image">
              <a href="#" target="_blank">
                <img src="img/slide1.jpg" alt="Slider 1">
              </a>
            </div>
          </div>
          <div class="slide" data-blurred="img/slide2_blurred.jpg">
            <div class="content">
              <h2><a href="#idmc2" target="_top">Second</a></h2>
              <p>Розумний дім створюється за допомогою професійного проектування та програмування компаніями, що займаються розробкою проектів smart-home. Програми, що вводяться до алгоритмів multi-room розумного дому, розраховані на певні потреби мешканців та ситуації, пов’язані із зміною середовища або безпекою. Особливістю smart-home є керування з пульта, на котрому людина може натиснути одну-єдину клавішу з метою створення певної обстановки.</p>
            </div>
            <div class="image">
             <a href="#" target="_blank"> <img src="img/slide2.jpg" alt="Slider 1"></a>
            </div>
          </div>
          <div class="slide" data-blurred="img/slide3_blurred.jpg">
            <div class="content">
              <h2><a href="#idmc3" target="_top">Third</a></h2>
              <p>Абсолютная экологичность автомобиля: отсутствие выбросов углекислого газа и сажи, низкий уровень шума. Авто на 100% отвечает требованиям по экологичности Агентства по охране окружающей среды США и мировым экологическим стандартам.</p>
            </div>
            <div class="image">
              <a href="#" target="_blank"><img src="img/slide3.jpg" alt="Slider 1"></a>
            </div>
          </div>
          
          <a href="#" class="is-prev">&laquo;</a>
          <a href="#" class="is-next">&raquo;</a>
        </div>
      </div>
  	</div>